/* Google Font - Schriftart */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

/*defining Variables */
:root {
    --primary-color:#047aed;
    --secondary-color: #135096;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    /* no link underline */
   text-decoration: none;
   color: #333; 
}

/* Headings */
h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Paragraphs */
p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    background: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    /* make it horizontal */
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    /* border on the bottom */
    border-bottom: 2px #fff solid
}


/* .log a:hover {
    for the logo - no border under the logo
    border-bottom: none;
} 
*/

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase{
    /* Farbe bis Read more, wenn height: auto*/
    height:  400px; 
    background: rgb(46,124,148);
    background: linear-gradient(90deg, rgb(9, 92, 117) 33%, rgba(9,72,121,1) 59%);
    color: #fff;
    position: relative;
}

.showcase h1 {
    /* make EasierDevelopment bigger */
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    /* height: auto; */
    width: 400px;
     /* width: auto; */
    padding: 40px;
    z-index: 100;
    /* justify-self: self-end; --> Buchstaben unter dem weißen Kasten (sieht nicht gut aus)*/ 
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type= 'text'],
.showcase-form input[type= 'message']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%; 
    /* width: 100%; */
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    /* kein blauer Kasten */
    outline: none;
}

/* new page */
.showcase::before, 
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
}

/* Stats */
.stats{
    /* eigentlich padding-top: 100px;*/
    padding-top: 160px;

}









































/* Footer */
.col-1-of-2 {
    position: relative;
}


.col-1-of-2 .copyright{
    position:absolute;
    right: 10px;
    bottom: 30px;
}